# Populate your AWS info below
export AWS_ACCESS_KEY_ID="<key id>"
export AWS_SECRET_ACCESS_KEY="<secret key>"
export AWS_DEFAULT_REGION="<region>"

export S3_BUCKET_NAME="<bucket name>"
export S3_BUCKET_KEY="<bucket folder>"